<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="ClientFile"
                     fileName="${sys:testagent.localclient.logDir}/client.log"
                     filePattern="${sys:testagent.localclient.logDir}/client-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level session=${sys:testagent.localclient.sessionId} [%enc{%t}{CRLF}] %logger{36} - %enc{%msg}{CRLF}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ClientFile"/>
        </Root>
    </Loggers>
</Configuration>
